.container{
  background-color : #797673;
  padding: 5rem 5rem 0.1rem 5rem;
}


.subcontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 10rem 10rem 10rem;
  background-color : #f1e4e4;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 7rem;
  font-weight:lighter;
  margin-bottom: 40px;
  text-align: center;

}

.title b {
  margin: 0;
  font-size: 7rem;
  font-weight:normal;
  font-style: italic;
}

.title b:hover{
  color:  #bb7e7e;
}

.subtitle{
  font-size: 2rem;
  font-weight:normal;
  font-style: italic;
  text-align: center;
}
.presentation{
  padding: 50px;
 display: flex;

flex-wrap: wrap;
justify-content: center;
align-items: center;

}

.presentation p{
  flex: 1;
  margin: 0;
  font-size: 4.5rem;
  font-style: italic;
  font-family: 'Tiro Devanagari Marathi', serif;
  padding: 1px;
}

.presentation img{
  height: auto;
  width: 400px;
  flex: 1;
  margin: 0;
  font-size: 2rem;
  font-weight:normal;
  font-style: italic;
  border: 2px solid #eaeaea;
  border-radius: 10px;

}

.description p{
  font-size: 1.5rem;
  margin-top : 25px;
  text-indent: 15px;
  text-align: justify;
  font-family: 'Tiro Gurmukhi', serif;
  line-height: 1.8;
}

.description form {
  text-align:center;
}

.description input{
  font-size: 2rem;
  color: #F1EAE4;
  background-color: black;
  padding: 6px;
  margin: 10px;
}

.description input:hover{
cursor:pointer;
color: #bb7e7e;

}



.header title,
.header description {
  text-align: center;
}

.header description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.main {
  margin-top: 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content:center;

  margin-left: auto;
  margin-right: auto;
}




.grid {
  display: flex;
  flex-wrap: wrap;
  

  align-items: center;
  justify-content:space-between;

  height:auto;
  width:320px;

  margin-right: 35px;
}

.grid img{
  height:auto;
  min-height: 190px;
  max-height: 400px;

  width:300px
}

.grid h2{
font-size: 25px;}

.grid p {
  text-align: center;
}

.card {
  margin: 2rem;
  padding: 1.5rem;
  text-align: left;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 450px;
  
}

.card:hover,
.card:focus,
.card:active {
  color:  #bb7e7e;
  border-color:  #797673;
}


.BackHome{
  margin: 0.1rem;
  padding: 0.5rem;
  text-align: left;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 40px;
}

.BackHome:hover,
.BackHome:focus,
.BackHome:active {
  color:  #bb7e7e;
  border-color:  #bb7e7e;
}
/* FOOTER */

.footer {
  margin-top: 250px;
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;

}

.footer img{
  height: 600px;

  position: "absolute";
  top: 0;
  left: 0;

}

.footerCard{
  position: relative;
  top: 220px;
  width: 480px;
  left: -220px;
  z-index: 9;
  margin: 180px;
  background-color: white;
  opacity: 0.85;
}

.footerCard h1 {
text-align: center;
}

.footerCard h5 {
  text-align: center;
font-style: italic ;
}

.footerCard p {
  margin-top: 10px;
  margin: 20px;
  text-indent: 15px;
  text-align: justify;
  line-height: 1.5;

}

.footerCard form {
text-align: center;
}

.footerCard input {
  cursor:pointer;
  color: #F1EAE4;
  background-color: black;
  padding: 10px;

}
.footerCard input:hover,
.footerCard input:focus,
.footerCard input:active {
  color:  #bb7e7e;
}

.assirem h5{
text-align: right;
}

.assirem a{
color: #E89005
}



.coaching{
  background-color: aqua;
}

.yoga{
  background-color: aqua;
}

.astrology{
  background-color: aqua;
}


.articleTitle h1{
  font-size: 75px;
}

.articleTitle{

  margin-left: auto; 
  margin-right: auto;

}

.articleImg {
  margin-left: auto; 
  margin-right: auto;
}

.articleImg img{
  width: 800px;
  height: auto;
  text-align:center;
  margin:auto;
  display:flex;
  margin-bottom: 25px;
}

.articleContent p{
  margin-top: 40px;
  text-align: center;
  text-indent: 25px;
  text-align:justify;
  margin:50px ;
  font-size: 1.5rem;
  font-family: 'Tiro Gurmukhi', serif;
  line-height: 1.8;
  font-style: italic;

}
